# 设置ip
# 参考:
# - [CentOS 7中/etc/rc.local开机启动脚本不生效怎么办？](https://support.huaweicloud.com/trouble-ecs/ecs_trouble_0349.html)

# 需登录后手动启动. 无法设置enable, 因为设置enable启动时, ip route命令运行时enp3s0还未`link up`. 求解???
[Unit]
After=network-online.target
[Service]
ExecStartPre=/bin/echo '--- Starting add-ip-route.service ---'
ExecStart=/usr/local/bin/ip-route.sh
[Install]
WantedBy=default.target


# /usr/local/bin/ip-route.sh:
#```sh
##!/bin/bash
#echo '--- start ip-route.sh'
#ip route add 192.168.0.0/24 via 192.168.88.2 dev enp3s0
#ip route add 172.18.18.0/24 via 192.168.88.2 dev enp3s0
#ip route add 192.168.16.0/24 via 192.168.88.2 dev enp3s0
#```


# --- 方法2 ------------------------------
#
# 当前使用NetworkManager, 配置在`/var/lib/NetworkManager/`下. [想使用systemd-networkd需要先切换网络管理器](https://linux.cn/article-6629-1.html).
# systemd-networkd当前不支持无线, 需[配合iwd使用](https://xuanwo.io/2019/06/13/switch-to-systemd-networkd/).
# 切换方法:
# $ sudo systemctl disable NetworkManager
# $ sudo systemctl enable systemd-networkd
# 配置enp3s0, 再重启即可(未测试)
#$ cat /etc/systemd/network/enp3s0.network
#[Match]
#Name=enp3s0
#
#[Network]
#Address=192.168.88.236/24
#Gateway=192.168.88.1
#
## ip route add 192.168.0.0/24 via 192.168.88.2 dev enp3s0
#[Route]
#Destination=192.168.0.0/24
#Gateway=192.168.88.2
#
#[Route]
#Destination=172.18.18.0/24
#Gateway=192.168.88.2
#
#[Route]
#Destination=192.168.16.0/24
#Gateway=192.168.88.2

# --- 方法3(**当前推荐, 先找到网络是由哪个组件管理的**) ---
# 1. sudo journalctl -r > log.log
# 1. $ grep -i ${本机ip} # 这里找到是dhcp
# 1. $ grep -i dhcp # 这里找到`dhcp4 (enp3s0): dhclient started with pid 1086`
# 1. $ sudo ps -ef |grep 1086 # 查看启动dhclient的命令,发现网络是由NetworkManager管理的, 且通过其命令行的参数也找到了配置文件的位置(不可直接编辑,需要使用nmcli)
# 1. $ nmcli connection # 找到conn.
# 1. $ sudo nmcli connection modify c9944e1f-2dea-3fec-b539-7267cf7bdee7 +ipv4.routes "192.168.16.0/24 192.168.88.2" # 添加route, 按需多次执行即可. 它会将 192.168.16.0/24 子网的流量指向位于 192.168.88.2的网关(可通过`nmcli connection show c9944e1f-2dea-3fec-b539-7267cf7bdee7`获取), 再sudo nmcli connection down/up c9944e1f-2dea-3fec-b539-7267cf7bdee7即可(但sudo systemctl restart network-manager.service没效果).
# sudo nmcli connection modify c3441692-43a5-393b-b9f8-e0e098b38b8b -ipv4.routes "192.168.16.0/24 192.168.88.2" 或找到配置文件(`/etc/NetworkManager/system-connections/'Wired connection 2'`)删除相关字段, 再`sudo systemctl restart NetworkManager`即可.
# 可参考[使用 NetworkManager 命令行工具 nmcli](https://access.redhat.com/documentation/zh-cn/red_hat_enterprise_linux/7/html/networking_guide/sec-using_the_networkmanager_command_line_tool_nmcli)